#film{
	ul.filmheader{
		display: flex;
		li{
			flex:1;
			height: 40px;
			line-height: 40px;
			text-align: center;
			list-style: none;
			//border-bottom: 1px solid #fe6e00;
			a{
				text-decoration: none;
			}
		}
	}
}

.choose{
	color: #fe6e00;
}