.image{
	width:90%;
	margin-bottom:0;
}

.bot{
	margin-top:20px;

	img{
		margin-left:15px;
	}
}

.pad{
	padding:10px;
}

button{
	margin-left:20%;
	border:none;
	font-size: 14px;
    min-width: 56px;
    height: 24px;
    line-height: 24px;
    background-color: #A9F3AE;
    padding: 0;
    border-radius: 18px;
    color: #fff;
}

p{
	margin-left:14px;
	font:12px/20px "";
}

span{
	margin-left:15px;
	font:10px/20px "";
	color:#9a9a9a;
}

.navlink{
	    text-decoration:none;
}